* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.hubs-centralization {
  display: flex;
}

.left-hub {
  display: flex;
  flex-direction: column;
  align-items: space-between;

  height: 992px;
  width: 400px;

  border: 2px none darkgray;
  border-right-style: solid;

  background-color: rgb(0, 0, 0);
}

.hub-centralization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: rgb(0, 0, 0);
}

.logo-centralization {
  display: flex;
  align-items: center;
  justify-content: left;

  width: 100%;
  height: 90px;
}

.logo-size {
  width: 110px;
  height: 110px;
}

.logo-img {
  background-image: url(./imgs/twitterlogo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.buttons-options-centralization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;

  gap: 10px;

  padding-top: 20px;

  width: 100%;
  height: 805px;
}

.main-page-button {
  display: flex;
  justify-content: left;
  align-items: center;

  gap: 10px;

  background-color: rgb(0, 0, 0);

  padding-left: 8px;

  font-size: 20px;
  font-family: Arial;
  font-weight: bolder;

  color: white;

  border-radius: 46px;

  width: 90%;
  height: 4vh;
}

.main-page-button-img-size {
  width: 35px;
  height: 35px;
}

.main-page-button-img {
  background-image: url(./imgs/home-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.explore-button-img-size {
  width: 35px;
  height: 35px;
}

.explore-button-img {
  background-image: url(./imgs/magnifier-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.notifications-button-img-size {
  width: 35px;
  height: 35px;
}

.notifications-button-img {
  background-image: url(./imgs/notification-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.message-button-img-size {
  width: 35px;
  height: 35px;
}

.message-button-img {
  background-image: url(./imgs/messages-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.grok-button-img-size {
  width: 35px;
  height: 35px;
}

.grok-button-img {
  background-image: url(./imgs/grok-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.lists-button-img-size {
  width: 35px;
  height: 35px;
}

.lists-button-img {
  background-image: url(./imgs/lists-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.saved-items-button-img-size {
  width: 35px;
  height: 35px;
}

.saved-items-button-img {
  background-image: url(./imgs/saveditems-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.jobs-button-img-size {
  width: 35px;
  height: 35px;
}

.jobs-button-img {
  background-image: url(./imgs/jobs-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.community-button-img-size {
  width: 35px;
  height: 35px;
}

.community-button-img {
  background-image: url(./imgs/community-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.premium-button-img-size {
  width: 35px;
  height: 35px;
}

.premium-button-img {
  background-image: url(./imgs/premium-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.profile-button-img-size {
  width: 35px;
  height: 35px;
}

.profile-button-img {
  background-image: url(./imgs/profile-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.more-button-img-size {
  width: 35px;
  height: 35px;
}

.more-button-img {
  background-image: url(./imgs/more-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  width: 100%;
  height: 100%;
}

.post-button {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 25px;
  font-family: Arial;
  font-weight: bolder;

  margin-top: 15px;

  background-color: white;

  border-radius: 46px;

  color: black;

  width: 90%;
  height: 60px;
}

.profile-centralization {
  display: flex;
  align-items: center;
  justify-content: left;

  gap: 20px;

  width: 100%;
  height: 10vh;

  background-color: rgb(0, 0, 0);
}

.profile-img-size {
  width: 70px;
  height: 70px;

  margin-left: 20px;
}

.profile-img {
  background-image: url(./imgs/profile-img.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 90px;

  width: 100%;
  height: 100%;
}

.name-centralization {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 55%;
  height: 60px;

  background-color: rgb(0, 0, 0);
}

.profile-name {
  display: flex;
  align-items: center;
  justify-content: left;

  font-size: 15px;
  font-family: Arial;
  font-weight: bolder;

  color: white;

  width: 100%;
  height: 25px;

  background-color: rgb(0, 0, 0);
}

.profile-hastag {
  display: flex;
  align-items: center;
  justify-content: left;

  font-size: 15px;
  font-family: Arial;
  font-weight: bolder;

  color: gray;

  width: 100%;
  height: 25px;

  background-color: rgb(0, 0, 0);
}

.profile-options-img-size {
  width: 70px;
  height: 70px;

  margin-left: 20px;
}

.profile-options-img {
  background-image: url(./imgs/profile-options-icon.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  border-radius: 46px;

  width: 100%;
  height: 100%;
}

.main-hub {
  display: flex;
  flex-direction: column;
  align-items: space-between;
}

.main-hub-selection {
  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 2px darkgray solid;

  width: 75vw;
  height: 90px;

  background-color: black;

}

.foryou-option {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;
}

.following-option {
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  width: 50%;
  height: 100%;
}

.button-foryou {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 46px;

  color: white;

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  width: 150px;
  height: 40px;

  cursor: pointer;

  background-color: rgb(0, 0, 0);

  transition: 1s ease-out;
}

.button-foryou :hover {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 46px;

  color: rgb(0, 0, 0);

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  width: 150px;
  height: 40px;

  cursor: pointer;

  background-color: rgb(255, 255, 255);

  transition: 0.5s ease-in;
}

.button-following {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 46px;

  color: white;

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  width: 150px;
  height: 40px;

  cursor: pointer;

  background-color: rgb(0, 0, 0);
}

.button-following :hover {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 46px;

  color: rgb(0, 0, 0);

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  width: 150px;
  height: 40px;

  background-color: rgb(255, 255, 255);

  cursor: pointer;

  transition: 0.5s ease-in;
}

.whats-happening {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 75vw;
  height: 150px;

  background-color: black;
}

.profile-and-inputbox {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50%;
}

.profile-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 10%;
  height: 100%;
  margin-top: 15px;
}

.input-box-div {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 95%;
  height: 100%;

  background-color: blueviolet;
}

.profile-picture-size {
  width: 60px;
  height: 60px;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-image: url(./imgs/profile-img.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.post-text {
  width: 100%;
  height: 100%;

  background-color: black;
  border-style: none;
  border-bottom: 3px blue;

  font-family: Arial;
  font-weight: bolder;
  font-size: 20px;

  color: white;

  cursor: pointer;
}

.post-and-writing-options {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0);
}

.post-options {
  display: flex;
  align-items: center;
  justify-content: center;

   background-color: brown;

  width: 80%;
  height: 100%;
}

.post-button-options {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 20%;
  height: 100%;
}

.photos-icon-size {
  width: 40px;
  height: 40px;
}

.photos-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-image: url(./imgs/photos-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.gif-icon-size {
  width: 40px;
  height: 40px;
}

.gif-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-image: url(./imgs/gif-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}

.ai-icon-size {
  width: 40px;
  height: 40px;
}

.ai-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50px;

  background-image: url(./imgs/ai-icon.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  width: 100%;
  height: 100%;
}